body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:999px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6033 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:518px;
  width:942px;
  height:240px;
}
#u6034_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:58px;
}
#u6034 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:58px;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u6035 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-12px;
  width:84px;
  word-wrap:break-word;
}
#u6036_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:58px;
}
#u6036 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:0px;
  width:148px;
  height:58px;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u6037 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:144px;
  word-wrap:break-word;
}
#u6038_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:58px;
}
#u6038 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:0px;
  width:133px;
  height:58px;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u6039 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:129px;
  word-wrap:break-word;
}
#u6040_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:58px;
}
#u6040 {
  border-width:0px;
  position:absolute;
  left:369px;
  top:0px;
  width:158px;
  height:58px;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u6041 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:154px;
  word-wrap:break-word;
}
#u6042_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:58px;
}
#u6042 {
  border-width:0px;
  position:absolute;
  left:527px;
  top:0px;
  width:152px;
  height:58px;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u6043 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:148px;
  word-wrap:break-word;
}
#u6044_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:58px;
}
#u6044 {
  border-width:0px;
  position:absolute;
  left:679px;
  top:0px;
  width:114px;
  height:58px;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u6045 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u6046_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:58px;
}
#u6046 {
  border-width:0px;
  position:absolute;
  left:793px;
  top:0px;
  width:144px;
  height:58px;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u6047 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6048_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:57px;
}
#u6048 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:58px;
  width:88px;
  height:57px;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u6049 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:84px;
  word-wrap:break-word;
}
#u6050_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:57px;
}
#u6050 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:58px;
  width:148px;
  height:57px;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u6051 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:144px;
  word-wrap:break-word;
}
#u6052_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:57px;
}
#u6052 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:58px;
  width:133px;
  height:57px;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u6053 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:129px;
  word-wrap:break-word;
}
#u6054_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:57px;
}
#u6054 {
  border-width:0px;
  position:absolute;
  left:369px;
  top:58px;
  width:158px;
  height:57px;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u6055 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:154px;
  word-wrap:break-word;
}
#u6056_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:57px;
}
#u6056 {
  border-width:0px;
  position:absolute;
  left:527px;
  top:58px;
  width:152px;
  height:57px;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u6057 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:148px;
  word-wrap:break-word;
}
#u6058_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:57px;
}
#u6058 {
  border-width:0px;
  position:absolute;
  left:679px;
  top:58px;
  width:114px;
  height:57px;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u6059 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u6060_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:57px;
}
#u6060 {
  border-width:0px;
  position:absolute;
  left:793px;
  top:58px;
  width:144px;
  height:57px;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u6061 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6062_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:60px;
}
#u6062 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:115px;
  width:88px;
  height:60px;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u6063 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:84px;
  word-wrap:break-word;
}
#u6064_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:60px;
}
#u6064 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:115px;
  width:148px;
  height:60px;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u6065 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:144px;
  word-wrap:break-word;
}
#u6066_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:60px;
}
#u6066 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:115px;
  width:133px;
  height:60px;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u6067 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:129px;
  word-wrap:break-word;
}
#u6068_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:60px;
}
#u6068 {
  border-width:0px;
  position:absolute;
  left:369px;
  top:115px;
  width:158px;
  height:60px;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u6069 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:154px;
  word-wrap:break-word;
}
#u6070_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:60px;
}
#u6070 {
  border-width:0px;
  position:absolute;
  left:527px;
  top:115px;
  width:152px;
  height:60px;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u6071 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:148px;
  word-wrap:break-word;
}
#u6072_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:60px;
}
#u6072 {
  border-width:0px;
  position:absolute;
  left:679px;
  top:115px;
  width:114px;
  height:60px;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u6073 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u6074_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:60px;
}
#u6074 {
  border-width:0px;
  position:absolute;
  left:793px;
  top:115px;
  width:144px;
  height:60px;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u6075 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6076_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:60px;
}
#u6076 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:175px;
  width:88px;
  height:60px;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u6077 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:84px;
  word-wrap:break-word;
}
#u6078_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:60px;
}
#u6078 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:175px;
  width:148px;
  height:60px;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u6079 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:144px;
  word-wrap:break-word;
}
#u6080_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:60px;
}
#u6080 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:175px;
  width:133px;
  height:60px;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u6081 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:129px;
  word-wrap:break-word;
}
#u6082_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:60px;
}
#u6082 {
  border-width:0px;
  position:absolute;
  left:369px;
  top:175px;
  width:158px;
  height:60px;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u6083 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:154px;
  word-wrap:break-word;
}
#u6084_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:60px;
}
#u6084 {
  border-width:0px;
  position:absolute;
  left:527px;
  top:175px;
  width:152px;
  height:60px;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u6085 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:148px;
  word-wrap:break-word;
}
#u6086_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:60px;
}
#u6086 {
  border-width:0px;
  position:absolute;
  left:679px;
  top:175px;
  width:114px;
  height:60px;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u6087 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u6088_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:60px;
}
#u6088 {
  border-width:0px;
  position:absolute;
  left:793px;
  top:175px;
  width:144px;
  height:60px;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u6089 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6090_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'メイリオ ボールド', 'メイリオ レギュラー', 'メイリオ';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u6090 {
  border-width:0px;
  position:absolute;
  left:859px;
  top:585px;
  width:118px;
  height:40px;
  font-family:'メイリオ ボールド', 'メイリオ レギュラー', 'メイリオ';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u6091 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:114px;
  word-wrap:break-word;
}
#u6092_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:988px;
  height:6px;
}
#u6092 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-13px;
  width:985px;
  height:3px;
  font-family:'メイリオ ボールド', 'メイリオ レギュラー', 'メイリオ';
  font-weight:700;
  font-style:normal;
}
#u6093 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:981px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6094_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:58px;
  background:inherit;
  background-color:rgba(239, 90, 161, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
}
#u6094 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:24px;
  width:60px;
  height:58px;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
}
#u6095 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:40px;
  word-wrap:break-word;
}
#u6096_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'メイリオ ボールド', 'メイリオ レギュラー', 'メイリオ';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u6096 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:45px;
  width:361px;
  height:54px;
  font-family:'メイリオ ボールド', 'メイリオ レギュラー', 'メイリオ';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u6097 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  white-space:nowrap;
}
#u6098_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'メイリオ ボールド', 'メイリオ レギュラー', 'メイリオ';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u6098 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:23px;
  width:170px;
  height:30px;
  font-family:'メイリオ ボールド', 'メイリオ レギュラー', 'メイリオ';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u6099 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  white-space:nowrap;
}
#u6100_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'メイリオ ボールド', 'メイリオ レギュラー', 'メイリオ';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u6100 {
  border-width:0px;
  position:absolute;
  left:588px;
  top:23px;
  width:397px;
  height:27px;
  font-family:'メイリオ ボールド', 'メイリオ レギュラー', 'メイリオ';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u6101 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  white-space:nowrap;
}
#u6102_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'メイリオ ボールド', 'メイリオ レギュラー', 'メイリオ';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u6102 {
  border-width:0px;
  position:absolute;
  left:674px;
  top:53px;
  width:140px;
  height:40px;
  font-family:'メイリオ ボールド', 'メイリオ レギュラー', 'メイリオ';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u6103 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:136px;
  word-wrap:break-word;
}
#u6104_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'メイリオ ボールド', 'メイリオ レギュラー', 'メイリオ';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u6104 {
  border-width:0px;
  position:absolute;
  left:845px;
  top:52px;
  width:140px;
  height:40px;
  font-family:'メイリオ ボールド', 'メイリオ レギュラー', 'メイリオ';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u6105 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:136px;
  word-wrap:break-word;
}
#u6106_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'メイリオ ボールド', 'メイリオ レギュラー', 'メイリオ';
  font-weight:700;
  font-style:normal;
}
#u6106 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:-530px;
  width:289px;
  height:36px;
  font-family:'メイリオ ボールド', 'メイリオ レギュラー', 'メイリオ';
  font-weight:700;
  font-style:normal;
}
#u6107 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  white-space:nowrap;
}
#u6108_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:913px;
  height:6px;
}
#u6108 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:-510px;
  width:910px;
  height:3px;
  font-family:'メイリオ ボールド', 'メイリオ レギュラー', 'メイリオ';
  font-weight:700;
  font-style:normal;
  color:#FF99FF;
}
#u6109 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:906px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6110_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:913px;
  height:6px;
}
#u6110 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:-470px;
  width:910px;
  height:3px;
  font-family:'メイリオ ボールド', 'メイリオ レギュラー', 'メイリオ';
  font-weight:700;
  font-style:normal;
  color:#FF99FF;
}
#u6111 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:906px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6112_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
}
#u6112 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:37px;
  width:17px;
  height:16px;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
}
#u6113 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6114_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-style:normal;
  font-size:20px;
}
#u6114 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:-70px;
  width:420px;
  height:30px;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-style:normal;
  font-size:20px;
}
#u6115 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  word-wrap:break-word;
}
#u6116_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'メイリオ ボールド', 'メイリオ レギュラー', 'メイリオ';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u6116 {
  border-width:0px;
  position:absolute;
  left:416px;
  top:786px;
  width:140px;
  height:40px;
  font-family:'メイリオ ボールド', 'メイリオ レギュラー', 'メイリオ';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u6117 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:136px;
  word-wrap:break-word;
}
#u6118_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:21px;
}
#u6118 {
  border-width:0px;
  position:absolute;
  left:938px;
  top:594px;
  width:17px;
  height:21px;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
}
#u6119 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6120_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'メイリオ ボールド', 'メイリオ レギュラー', 'メイリオ';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u6120 {
  border-width:0px;
  position:absolute;
  left:859px;
  top:645px;
  width:118px;
  height:40px;
  font-family:'メイリオ ボールド', 'メイリオ レギュラー', 'メイリオ';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u6121 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:114px;
  word-wrap:break-word;
}
#u6122_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:21px;
}
#u6122 {
  border-width:0px;
  position:absolute;
  left:938px;
  top:657px;
  width:17px;
  height:21px;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
}
#u6123 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6124_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'メイリオ ボールド', 'メイリオ レギュラー', 'メイリオ';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u6124 {
  border-width:0px;
  position:absolute;
  left:859px;
  top:707px;
  width:118px;
  height:40px;
  font-family:'メイリオ ボールド', 'メイリオ レギュラー', 'メイリオ';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u6125 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:114px;
  word-wrap:break-word;
}
#u6126_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:21px;
}
#u6126 {
  border-width:0px;
  position:absolute;
  left:938px;
  top:716px;
  width:17px;
  height:21px;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
}
#u6127 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6128_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'メイリオ ボールド', 'メイリオ レギュラー', 'メイリオ';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u6128 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:-120px;
  width:121px;
  height:30px;
  font-family:'メイリオ ボールド', 'メイリオ レギュラー', 'メイリオ';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u6129 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u6130_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:941px;
  height:5px;
}
#u6130 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:-58px;
  width:938px;
  height:2px;
  font-family:'メイリオ ボールド', 'メイリオ レギュラー', 'メイリオ';
  font-weight:700;
  font-style:normal;
  color:#FF99FF;
}
#u6131 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-7px;
  width:934px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6132_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'メイリオ ボールド', 'メイリオ レギュラー', 'メイリオ';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u6132 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:-482px;
  width:81px;
  height:30px;
  font-family:'メイリオ ボールド', 'メイリオ レギュラー', 'メイリオ';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u6133 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u6134_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:941px;
  height:5px;
}
#u6134 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:-430px;
  width:938px;
  height:2px;
  font-family:'メイリオ ボールド', 'メイリオ レギュラー', 'メイリオ';
  font-weight:700;
  font-style:normal;
  color:#FF99FF;
}
#u6135 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-7px;
  width:934px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6136_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'メイリオ ボールド', 'メイリオ レギュラー', 'メイリオ';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u6136 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:-200px;
  width:146px;
  height:40px;
  font-family:'メイリオ ボールド', 'メイリオ レギュラー', 'メイリオ';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u6137 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-10px;
  width:142px;
  word-wrap:break-word;
}
#u6138 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:-412px;
  width:225px;
  height:25px;
}
#u6138_input {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:25px;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  //color:#999999;
  text-align:left;
}
#u6139_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u6139 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:-430px;
  width:93px;
  height:27px;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  z-index:1;
}
#u6140 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u6141 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:-378px;
  width:225px;
  height:25px;
}
#u6141_input {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:25px;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  //color:#999999;
  text-align:left;
}
#u6142_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u6142 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:-395px;
  width:127px;
  height:27px;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:17px;
}
#u6143 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u6141a {
  border-width:0px;
  position:absolute;
  left:550px;
  top:-378px;
  width:225px;
  height:25px;
}
#u6141a_input {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:25px;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  //color:#999999;
  text-align:left;
}
#u6142a_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u6142a {
  border-width:0px;
  position:absolute;
  left:420px;
  top:-395px;
  width:127px;
  height:27px;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:17px;
}
#u6143a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u6144 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:-413px;
  width:127px;
  height:25px;
}
#u6144_input {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:25px;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  //color:#999999;
  text-align:left;
}
#u6145_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u6145 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:-430px;
  width:91px;
  height:27px;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u6146 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u6147_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u6147 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:-360px;
  width:91px;
  height:27px;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u6148 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u6149 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:-338px;
  width:171px;
  height:27px;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u6150 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:-22px;
  width:153px;
  word-wrap:break-word;
}
#u6149_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6151_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u6151 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:-363px;
  width:74px;
  height:27px;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u6152 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u6153 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:-342px;
  width:82px;
  height:27px;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u6154 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:-24px;
  width:64px;
  word-wrap:break-word;
}
#u6153_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6155_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u6155 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:-320px;
  width:91px;
  height:27px;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u6156 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u6157 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:-305px;
  width:225px;
  height:25px;
}
#u6157_input {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:25px;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  //color:#999999;
  text-align:left;
}
#u6158_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u6158 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:-280px;
  width:91px;
  height:27px;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u6159 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u6160 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:-265px;
  width:225px;
  height:25px;
}
#u6160_input {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:25px;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  //color:#999999;
  text-align:left;
}
#u6161_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u6161 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:-325px;
  width:127px;
  height:27px;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u6162 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u6161_ann {
  border-width:0px;
  position:absolute;
  left:598px;
  top:316px;
  width:1px;
  height:1px;
}
#u6163 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:-303px;
  width:289px;
  height:27px;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u6164 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:-23px;
  width:271px;
  word-wrap:break-word;
}
#u6163_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6165_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'メイリオ ボールド', 'メイリオ レギュラー', 'メイリオ';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u6165 {
  border-width:0px;
  position:absolute;
  left:842px;
  top:-110px;
  width:135px;
  height:40px;
  font-family:'メイリオ ボールド', 'メイリオ レギュラー', 'メイリオ';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  cursor: pointer;
}
#u6166 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-10px;
  width:131px;
  word-wrap:break-word;
}
#u6165_ann {
  border-width:0px;
  position:absolute;
  left:970px;
  top:512px;
  width:1px;
  height:1px;
}
#u6167 {
  border-width:0px;
  position:absolute;
  left:264px;
  top:-110px;
  width:942px;
  height:240px;
}
#u6168_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u6168 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:-280px;
  width:91px;
  height:27px;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u6169 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u6170 {
  border-width:0px;
  position:absolute;
  left:585px;
  top:-260px;
  width:225px;
  height:25px;
}
#u6170_input {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:25px;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
