body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:985px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6167_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:988px;
  height:6px;
}
#u6167 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:109px;
  width:985px;
  height:3px;
  font-family:'メイリオ ボールド', 'メイリオ レギュラー', 'メイリオ';
  font-weight:700;
  font-style:normal;
}
#u6168 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:981px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6169_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:58px;
  background:inherit;
  background-color:rgba(239, 90, 161, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
}
#u6169 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:24px;
  width:60px;
  height:58px;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
}
#u6170 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:40px;
  word-wrap:break-word;
}
#u6171_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'メイリオ ボールド', 'メイリオ レギュラー', 'メイリオ';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u6171 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:45px;
  width:361px;
  height:54px;
  font-family:'メイリオ ボールド', 'メイリオ レギュラー', 'メイリオ';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u6172 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  white-space:nowrap;
}
#u6173_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'メイリオ ボールド', 'メイリオ レギュラー', 'メイリオ';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u6173 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:23px;
  width:170px;
  height:30px;
  font-family:'メイリオ ボールド', 'メイリオ レギュラー', 'メイリオ';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u6174 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  white-space:nowrap;
}
#u6175_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'メイリオ ボールド', 'メイリオ レギュラー', 'メイリオ';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u6175 {
  border-width:0px;
  position:absolute;
  left:588px;
  top:23px;
  width:397px;
  height:27px;
  font-family:'メイリオ ボールド', 'メイリオ レギュラー', 'メイリオ';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u6176 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  white-space:nowrap;
}
#u6177_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'メイリオ ボールド', 'メイリオ レギュラー', 'メイリオ';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u6177 {
  border-width:0px;
  position:absolute;
  left:674px;
  top:53px;
  width:140px;
  height:40px;
  font-family:'メイリオ ボールド', 'メイリオ レギュラー', 'メイリオ';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u6178 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:136px;
  word-wrap:break-word;
}
#u6179_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'メイリオ ボールド', 'メイリオ レギュラー', 'メイリオ';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u6179 {
  border-width:0px;
  position:absolute;
  left:845px;
  top:52px;
  width:140px;
  height:40px;
  font-family:'メイリオ ボールド', 'メイリオ レギュラー', 'メイリオ';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u6180 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:136px;
  word-wrap:break-word;
}
#u6181_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'メイリオ ボールド', 'メイリオ レギュラー', 'メイリオ';
  font-weight:700;
  font-style:normal;
}
#u6181 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:-12px;
  width:289px;
  height:36px;
  font-family:'メイリオ ボールド', 'メイリオ レギュラー', 'メイリオ';
  font-weight:700;
  font-style:normal;
}
#u6182 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  white-space:nowrap;
}
#u6183_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:913px;
  height:6px;
}
#u6183 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:8px;
  width:910px;
  height:3px;
  font-family:'メイリオ ボールド', 'メイリオ レギュラー', 'メイリオ';
  font-weight:700;
  font-style:normal;
  color:#FF99FF;
}
#u6184 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:906px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6185_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:913px;
  height:6px;
}
#u6185 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:44px;
  width:910px;
  height:3px;
  font-family:'メイリオ ボールド', 'メイリオ レギュラー', 'メイリオ';
  font-weight:700;
  font-style:normal;
  color:#FF99FF;
}
#u6186 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:906px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6187_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
}
#u6187 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:37px;
  width:17px;
  height:16px;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
}
#u6188 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6189_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'メイリオ ボールド', 'メイリオ レギュラー', 'メイリオ';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u6189 {
  border-width:0px;
  position:absolute;
  left:348px;
  top:540px;
  width:140px;
  height:40px;
  font-family:'メイリオ ボールド', 'メイリオ レギュラー', 'メイリオ';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  cursor: pointer;
}
#u6190 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:136px;
  word-wrap:break-word;
}
#u6191_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'メイリオ ボールド', 'メイリオ レギュラー', 'メイリオ';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u6191 {
  border-width:0px;
  position:absolute;
  left:516px;
  top:540px;
  width:146px;
  height:40px;
  font-family:'メイリオ ボールド', 'メイリオ レギュラー', 'メイリオ';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u6192 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-10px;
  width:142px;
  word-wrap:break-word;
}
#u6193 {
  border-width:0px;
  position:absolute;
  left:262px;
  top:206px;
  width:225px;
  height:25px;
}
#u6193_input {
  position:absolute;
  left:0px;
  top:-126px;
  width:225px;
  height:25px;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u6194_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u6194 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:203px;
  width:93px;
  height:27px;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u6195 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-140px;
  width:93px;
  white-space:nowrap;
}
#u6194_ann {
  border-width:0px;
  position:absolute;
  left:183px;
  top:199px;
  width:1px;
  height:1px;
}
#u6196_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u6196 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:208px;
  width:127px;
  height:27px;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u6197 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u6196a_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u6196a {
  border-width:0px;
  position:absolute;
  left:97px;
  top:248px;
  width:127px;
  height:27px;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u6197a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u6198 {
  border-width:0px;
  position:absolute;
  left:262px;
  top:115px;
  width:225px;
  height:25px;
}
#u6198_input {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:25px;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u6199_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u6199 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:100px;
  width:91px;
  height:27px;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u6200 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u6201 {
  border-width:0px;
  position:absolute;
  left:262px;
  top:225px;
  width:225px;
  height:25px;
}
#u6201_input {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:25px;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u6201a {
  border-width:0px;
  position:absolute;
  left:262px;
  top:265px;
  width:225px;
  height:25px;
}
#u6201a_input {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:25px;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u6202 {
  border-width:0px;
  position:absolute;
  left:262px;
  top:153px;
  width:225px;
  height:25px;
}
#u6202_input {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:25px;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u6203_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u6203 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:138px;
  width:91px;
  height:27px;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u6204 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u6205_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u6205 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:290px;
  width:37px;
  height:27px;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u6206 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u6205_ann {
  border-width:0px;
  position:absolute;
  left:127px;
  top:380px;
  width:1px;
  height:1px;
}
#u6207 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:305px;
  width:500px;
  height:27px;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u6208 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:-17px;
  width:111px;
  word-wrap:break-word;
}
#u6207_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:3px;
}
#u6209 {
  border-width:0px;
  position:absolute;
  left:399px;
  top:259px;
  width:131px;
  height:27px;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u6210 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:-17px;
  width:113px;
  word-wrap:break-word;
}
#u6209_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:3px;
}
#u6211 {
  border-width:0px;
  position:absolute;
  left:671px;
  top:258px;
  width:131px;
  height:27px;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u6212 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:-17px;
  width:113px;
  word-wrap:break-word;
}
#u6211_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:3px;
}
#u6213 {
  border-width:0px;
  position:absolute;
  left:530px;
  top:259px;
  width:131px;
  height:27px;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u6214 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:-17px;
  width:113px;
  word-wrap:break-word;
}
#u6213_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:3px;
}
#u6215_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u6215 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:335px;
  width:93px;
  height:27px;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u6216 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  word-wrap:break-word;
}
#u6215_ann {
  border-width:0px;
  position:absolute;
  left:183px;
  top:422px;
  width:1px;
  height:1px;
}
#u6217_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u6217 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:380px;
  width:91px;
  height:27px;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u6218 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u6217_ann {
  border-width:0px;
  position:absolute;
  left:181px;
  top:459px;
  width:1px;
  height:1px;
}
#u6219 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:397px;
  width:300px;
  height:22px;
}
#u6219_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u6219_input:disabled {
  color:grayText;
}
#u6220_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u6220 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:414px;
  width:145px;
  height:27px;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u6221 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u6220_ann {
  border-width:0px;
  position:absolute;
  left:235px;
  top:541px;
  width:1px;
  height:1px;
}
#u6222 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:432px;
  width:129px;
  height:27px;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u6223 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:-20px;
  width:111px;
  word-wrap:break-word;
}
#u6222_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:3px;
}
#u6224 {
  border-width:0px;
  position:absolute;
  left:399px;
  top:432px;
  width:131px;
  height:27px;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u6225 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:-20px;
  width:113px;
  word-wrap:break-word;
}
#u6224_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:3px;
}
#u6226_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FF0000;
}
#u6226 {
  border-width:0px;
  position:absolute;
  left:274px;
  top:631px;
  width:1px;
  height:16px;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FF0000;
}
#u6227 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  visibility:hidden;
  white-space:nowrap;
}
#u6228_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u6228 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:425px;
  width:37px;
  height:27px;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u6229 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u6230 {
  border-width:0px;
  position:absolute;
  left:262px;
  top:443px;
  width:225px;
  height:25px;
}
#u6230_input {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:25px;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u6231 {
  border-width:0px;
  position:absolute;
  left:262px;
  top:190px;
  width:225px;
  height:25px;
}
#u6231_input {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:25px;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u6232_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u6232 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:174px;
  width:145px;
  height:27px;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u6233 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u6234_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'メイリオ ボールド', 'メイリオ レギュラー', 'メイリオ';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u6234 {
  border-width:0px;
  position:absolute;
  left:805px;
  top:540px;
  width:140px;
  height:40px;
  font-family:'メイリオ ボールド', 'メイリオ レギュラー', 'メイリオ';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u6235 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:136px;
  word-wrap:break-word;
}
#u6234_ann {
  border-width:0px;
  position:absolute;
  left:938px;
  top:603px;
  width:1px;
  height:1px;
}
#u6236_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u6236 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:350px;
  width:175px;
  height:27px;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u6237 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  word-wrap:break-word;
}
