.idea/*
/vendor/*
/config/app.php
/tmp/*
/logs/*
/nbproject/*
bin/cake
.buildpath
.project
.settings/org.eclipse.php.core.prefs
.settings/org.eclipse.wst.common.project.facet.core.xml
.settings/org.eclipse.wst.validation.prefs