body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:985px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6238_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:988px;
  height:6px;
}
#u6238 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:109px;
  width:985px;
  height:3px;
  font-family:'メイリオ ボールド', 'メイリオ レギュラー', 'メイリオ';
  font-weight:700;
  font-style:normal;
}
#u6239 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:981px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6240_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:58px;
  background:inherit;
  background-color:rgba(239, 90, 161, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
}
#u6240 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:24px;
  width:60px;
  height:58px;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
}
#u6241 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:40px;
  word-wrap:break-word;
}
#u6242_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'メイリオ ボールド', 'メイリオ レギュラー', 'メイリオ';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u6242 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:45px;
  width:361px;
  height:54px;
  font-family:'メイリオ ボールド', 'メイリオ レギュラー', 'メイリオ';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u6243 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  white-space:nowrap;
}
#u6244_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'メイリオ ボールド', 'メイリオ レギュラー', 'メイリオ';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u6244 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:23px;
  width:170px;
  height:30px;
  font-family:'メイリオ ボールド', 'メイリオ レギュラー', 'メイリオ';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u6245 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  white-space:nowrap;
}
#u6246_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'メイリオ ボールド', 'メイリオ レギュラー', 'メイリオ';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u6246 {
  border-width:0px;
  position:absolute;
  left:588px;
  top:23px;
  width:397px;
  height:27px;
  font-family:'メイリオ ボールド', 'メイリオ レギュラー', 'メイリオ';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u6247 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  white-space:nowrap;
}
#u6248_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'メイリオ ボールド', 'メイリオ レギュラー', 'メイリオ';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u6248 {
  border-width:0px;
  position:absolute;
  left:674px;
  top:53px;
  width:140px;
  height:40px;
  font-family:'メイリオ ボールド', 'メイリオ レギュラー', 'メイリオ';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u6249 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:136px;
  word-wrap:break-word;
}
#u6250_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'メイリオ ボールド', 'メイリオ レギュラー', 'メイリオ';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u6250 {
  border-width:0px;
  position:absolute;
  left:845px;
  top:52px;
  width:140px;
  height:40px;
  font-family:'メイリオ ボールド', 'メイリオ レギュラー', 'メイリオ';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u6251 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:136px;
  word-wrap:break-word;
}
#u6252_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'メイリオ ボールド', 'メイリオ レギュラー', 'メイリオ';
  font-weight:700;
  font-style:normal;
}
#u6252 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:-14px;
  width:193px;
  height:36px;
  font-family:'メイリオ ボールド', 'メイリオ レギュラー', 'メイリオ';
  font-weight:700;
  font-style:normal;
}
#u6253 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u6254_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:913px;
  height:6px;
}
#u6254 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:8px;
  width:910px;
  height:3px;
  font-family:'メイリオ ボールド', 'メイリオ レギュラー', 'メイリオ';
  font-weight:700;
  font-style:normal;
  color:#FF99FF;
}
#u6255 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:906px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6256_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:913px;
  height:6px;
}
#u6256 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:44px;
  width:910px;
  height:3px;
  font-family:'メイリオ ボールド', 'メイリオ レギュラー', 'メイリオ';
  font-weight:700;
  font-style:normal;
  color:#FF99FF;
}
#u6257 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:906px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6258_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
}
#u6258 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:37px;
  width:17px;
  height:16px;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
}
#u6259 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6260_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'メイリオ ボールド', 'メイリオ レギュラー', 'メイリオ';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u6260 {
  border-width:0px;
  position:absolute;
  left:336px;
  top:405px;
  width:140px;
  height:40px;
  font-family:'メイリオ ボールド', 'メイリオ レギュラー', 'メイリオ';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  cursor:pointer;
}
#u6261 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:136px;
  word-wrap:break-word;
}
#u6262_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'メイリオ ボールド', 'メイリオ レギュラー', 'メイリオ';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u6262 {
  border-width:0px;
  position:absolute;
  left:504px;
  top:405px;
  width:146px;
  height:40px;
  font-family:'メイリオ ボールド', 'メイリオ レギュラー', 'メイリオ';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u6263 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-10px;
  width:142px;
  word-wrap:break-word;
}
#u6264 {
  border-width:0px;
  position:absolute;
  left:292px;
  top:85px;
  width:225px;
  height:25px;
}
#u6264_input {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:25px;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  //color:#999999;
  text-align:left;
}
#u6265_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u6265 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:70px;
  width:93px;
  height:27px;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u6266 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u6265_ann {
  border-width:0px;
  position:absolute;
  left:183px;
  top:199px;
  width:1px;
  height:1px;
}
#u6267_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u6267 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:150px;
  width:127px;
  height:27px;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u6268 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u6267a_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u6267a {
  border-width:0px;
  position:absolute;
  left:97px;
  top:195px;
  width:127px;
  height:27px;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u6268a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u6269 {
  border-width:0px;
  position:absolute;
  left:292px;
  top:126px;
  width:225px;
  height:25px;
}
#u6269_input {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:25px;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  //color:#999999;
  text-align:left;
}
#u6270_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u6270 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:110px;
  width:91px;
  height:27px;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u6271 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u6272 {
  border-width:0px;
  position:absolute;
  left:292px;
  top:168px;
  width:225px;
  height:25px;
}
#u6272_input {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:25px;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  //color:#999999;
  text-align:left;
}
#u6272a {
  border-width:0px;
  position:absolute;
  left:292px;
  top:213px;
  width:225px;
  height:25px;
}
#u6272a_input {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:25px;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  //color:#999999;
  text-align:left;
}
#u6273_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u6273 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:241px;
  width:93px;
  height:27px;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u6274 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  word-wrap:break-word;
}
#u6273_ann {
  border-width:0px;
  position:absolute;
  left:183px;
  top:327px;
  width:1px;
  height:1px;
}
#u6275_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u6275 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:288px;
  width:91px;
  height:27px;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u6276 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u6275_ann {
  border-width:0px;
  position:absolute;
  left:181px;
  top:364px;
  width:1px;
  height:1px;
}
#u6277_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FF0000;
}
#u6277 {
  border-width:0px;
  position:absolute;
  left:274px;
  top:631px;
  width:1px;
  height:16px;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FF0000;
}
#u6278 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  visibility:hidden;
  white-space:nowrap;
}
#u6279_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u6279 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:330px;
  width:37px;
  height:27px;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u6280 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u6281 {
  border-width:0px;
  position:absolute;
  left:292px;
  top:345px;
  width:225px;
  height:25px;
}
#u6281_input {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:25px;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  //color:#999999;
  text-align:left;
}
#u6282 {
  border-width:0px;
  position:absolute;
  left:290px;
  top:260px;
  width:225px;
  height:25px;
}
#u6282_input {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:25px;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u6283 {
  border-width:0px;
  position:absolute;
  left:290px;
  top:305px;
  width:225px;
  height:25px;
}
#u6283_input {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:25px;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u6284_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FF0000;
}
#u6284 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:150px;
  width:48px;
  height:27px;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FF0000;
}
#u6284a_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FF0000;
}
#u6284a {
  border-width:0px;
  position:absolute;
  left:234px;
  top:195px;
  width:48px;
  height:27px;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FF0000;
}
#u6285 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u6285a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u6286_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FF0000;
}
#u6286 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:65px;
  width:48px;
  height:27px;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FF0000;
}
#u6287 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u6288_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FF0000;
}
#u6288 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:108px;
  width:48px;
  height:27px;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FF0000;
}
#u6289 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u6290_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FF0000;
}
#u6290 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:240px;
  width:48px;
  height:27px;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FF0000;
}
#u6291 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u6292_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FF0000;
}
#u6292 {
  border-width:0px;
  position:absolute;
  left:232px;
  top:290px;
  width:48px;
  height:27px;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FF0000;
}
#u6293 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
