@media (min-width: 768px) {
  #header_area {
    width: 750px;
    height: 150px;
  }
}

@media (min-width: 992px) {
  #header_area {
    width: 970px;
    height: 110px;
  }
}

@media (min-width: 1200px) {
  #header_area {
    width: 1170px;
    height: 110px;
  }
}