body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:985px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6652_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:988px;
  height:6px;
}
#u6652 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:109px;
  width:985px;
  height:3px;
  font-family:'メイリオ ボールド', 'メイリオ レギュラー', 'メイリオ';
  font-weight:700;
  font-style:normal;
}
#u6653 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:981px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6654_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:58px;
  background:inherit;
  background-color:rgba(239, 90, 161, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
}
#u6654 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:24px;
  width:60px;
  height:58px;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
}
#u6655 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:40px;
  word-wrap:break-word;
}
#u6656_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'メイリオ ボールド', 'メイリオ レギュラー', 'メイリオ';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u6656 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:45px;
  width:361px;
  height:54px;
  font-family:'メイリオ ボールド', 'メイリオ レギュラー', 'メイリオ';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u6657 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  white-space:nowrap;
}
#u6658_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'メイリオ ボールド', 'メイリオ レギュラー', 'メイリオ';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u6658 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:23px;
  width:170px;
  height:30px;
  font-family:'メイリオ ボールド', 'メイリオ レギュラー', 'メイリオ';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u6659 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  white-space:nowrap;
}
#u6660_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'メイリオ ボールド', 'メイリオ レギュラー', 'メイリオ';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u6660 {
  border-width:0px;
  position:absolute;
  left:588px;
  top:23px;
  width:397px;
  height:27px;
  font-family:'メイリオ ボールド', 'メイリオ レギュラー', 'メイリオ';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u6661 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  white-space:nowrap;
}
#u6662_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'メイリオ ボールド', 'メイリオ レギュラー', 'メイリオ';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u6662 {
  border-width:0px;
  position:absolute;
  left:674px;
  top:53px;
  width:140px;
  height:40px;
  font-family:'メイリオ ボールド', 'メイリオ レギュラー', 'メイリオ';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u6663 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:136px;
  word-wrap:break-word;
}
#u6664_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'メイリオ ボールド', 'メイリオ レギュラー', 'メイリオ';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u6664 {
  border-width:0px;
  position:absolute;
  left:845px;
  top:52px;
  width:140px;
  height:40px;
  font-family:'メイリオ ボールド', 'メイリオ レギュラー', 'メイリオ';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u6665 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:136px;
  word-wrap:break-word;
}
#u6666_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'メイリオ ボールド', 'メイリオ レギュラー', 'メイリオ';
  font-weight:700;
  font-style:normal;
}
#u6666 {
  border-width:0px;
  position:absolute;
  left:61px;
  top: -16px;
  width:241px;
  height:36px;
  font-family:'メイリオ ボールド', 'メイリオ レギュラー', 'メイリオ';
  font-weight:700;
  font-style:normal;
}
#u6667 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  white-space:nowrap;
}
#u6668_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:913px;
  height:6px;
}
#u6668 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:5px;
  width:910px;
  height:3px;
  font-family:'メイリオ ボールド', 'メイリオ レギュラー', 'メイリオ';
  font-weight:700;
  font-style:normal;
  color:#FF99FF;
}
#u6669 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:906px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6670_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:913px;
  height:6px;
}
#u6670 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:42px;
  width:910px;
  height:3px;
  font-family:'メイリオ ボールド', 'メイリオ レギュラー', 'メイリオ';
  font-weight:700;
  font-style:normal;
  color:#FF99FF;
}
#u6671 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:906px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6672_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
}
#u6672 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:37px;
  width:17px;
  height:16px;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
}
#u6673 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6674_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'メイリオ ボールド', 'メイリオ レギュラー', 'メイリオ';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u6674 {
  border-width:0px;
  position:absolute;
  left:374px;
  top:625px;
  width:140px;
  height:40px;
  font-family:'メイリオ ボールド', 'メイリオ レギュラー', 'メイリオ';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  cursor: pointer;
}
#u6675 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:136px;
  word-wrap:break-word;
}
#u6676_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'メイリオ ボールド', 'メイリオ レギュラー', 'メイリオ';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u6676 {
  border-width:0px;
  position:absolute;
  left:542px;
  top:633px;
  width:146px;
  height:40px;
  font-family:'メイリオ ボールド', 'メイリオ レギュラー', 'メイリオ';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u6677 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:142px;
  word-wrap:break-word;

}
#u6678_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u6678 {
  border-width:0px;
  position:absolute;
  left:98px;
  top: 84px;
  width:91px;
  height:27px;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u6679 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u6680_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u6680 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:253px;
  width:73px;
  height:27px;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u6681 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u6682 {
  border-width:0px;
  position:absolute;
  left:282px;
  top:138px;
  width:225px;
  height:25px;
}
#u6682_input {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:25px;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6683_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u6683 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:125px;
  width:55px;
  height:27px;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u6684 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u6685 {
  border-width:0px;
  position:absolute;
  left:282px;
  top:270px;
  width:225px;
  height:25px;
}
#u6685_input {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:25px;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6686 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:224px;
  width:596px;
  height:25px;
}
#u6686_input {
  position:absolute;
  left:0px;
  top:0px;
  width:496px;
  height:25px;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6686a {
  border-width:0px;
  position:absolute;
  left:282px;
  top:224px;
  width:596px;
  height:25px;
}
#u6686a_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}

#u6687_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u6687 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:210px;
  width:37px;
  height:27px;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u6688 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u6689_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u6689 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:295px;
  width:73px;
  height:27px;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u6690 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u6691 {
  border-width:0px;
  position:absolute;
  left:282px;
  top:295px;
  width:129px;
  height:27px;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u6692 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:111px;
  word-wrap:break-word;
}
#u6691_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:20px;
}
#u6693 {
  border-width:0px;
  position:absolute;
  left:353px;
  top:295px;
  width:131px;
  height:27px;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u6694 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:113px;
  word-wrap:break-word;
}
#u6693_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:20px;
}
#u6695_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u6695 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:342px;
  width:93px;
  height:27px;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u6696 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  word-wrap:break-word;
}
#u6697_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u6697 {
  border-width:0px;
  position:absolute;
  left:282px;
  top:84px;
  width:12px;
  height:27px;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u6698 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u6699_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u6699 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:168px;
  width:73px;
  height:27px;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u6700 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u6701 {
  border-width:0px;
  position:absolute;
  left:282px;
  top:183px;
  width:225px;
  height:25px;
}
#u6701_input {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:25px;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6702_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:27px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'メイリオ ボールド', 'メイリオ レギュラー', 'メイリオ';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u6702 {
  border-width:0px;
  position:absolute;
  left:517px;
  top:183px;
  width:180px;
  height:27px;
  font-family:'メイリオ ボールド', 'メイリオ レギュラー', 'メイリオ';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u6703 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:176px;
  word-wrap:break-word;
}
#u6704 {
  border-width:0px;
  position:absolute;
  left:282px;
  top:360px;
  width:225px;
  height:25px;
}
#u6704_input {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:25px;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6705_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u6705 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:389px;
  width:110px;
  height:27px;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u6706 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u6707 {
  border-width:0px;
  position:absolute;
  left:282px;
  top:405px;
  width:225px;
  height:25px;
}
#u6707_input {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:25px;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6708 {
  border-width:0px;
  position:absolute;
  left:282px;
  top:665px;
  width:225px;
  height:25px;
}
#u6708_div {
  border-width:0px;
  position:absolute;
  left:282px;
  top:705px;
  width:225px;
  height:25px;
}
#u6709 {
  border-width:0px;
  position:absolute;
  left:-200px;
  top:-10px;
  width:425px;
  height:25px;
  font-family:'メイリオ レギュラー', 'メイリオ';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u6710 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:700px;
  width:425px;
  height:25px;
}
#u6711 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:710px;
  width:800px;
  height:25px;
}
#u6712_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'メイリオ ボールド', 'メイリオ レギュラー', 'メイリオ';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u6712 {
  border-width:0px;
  position:absolute;
  left:710px;
  top:625px;
  width:140px;
  height:40px;
  font-family:'メイリオ ボールド', 'メイリオ レギュラー', 'メイリオ';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  cursor: pointer;
}
#u6713 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:136px;
  word-wrap:break-word;
}